<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://51.124.98.77:3306/hr</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <mapping class="com.example.demo.dao.orm.Countries"/>
    <mapping class="com.example.demo.dao.orm.Departments"/>
    <mapping class="com.example.demo.dao.orm.Employees"/>
    <mapping class="com.example.demo.dao.orm.JobHistory"/>
    <mapping class="com.example.demo.dao.orm.Jobs"/>
    <mapping class="com.example.demo.dao.orm.Locations"/>
    <mapping class="com.example.demo.dao.orm.Regions"/>
  </session-factory>
</hibernate-configuration>